{
	"BOT_TOKEN": "YOUR BOT TOKEN",
	"CHANNEL_ID": "YOUR CHANNELs DISCORD ID NOT THE NAME",
	"API_DOMAIN": "YOUR POOLs API DOMAIN",
	"BLOCK_EXPLORER": "https://explorer.moneromine.co/block/",
	"LAST_BLOCK_HASH": "HASH OF THE LAST BLOCK YOUR POOL FOUND",
	"CHECK_INTERVAL": "60000"
}