{
	"BOT_TOKEN": "YOUR BOT TOKEN",
	"CHANNEL_ID": "YOUR CHANNELs DISCORD ID NOT THE NAME",
	"API_DOMAIN": "YOUR POOLs API DOMAIN",
	"BLOCK_EXPLORER": "https://xmrchain.net/block/",
	"LAST_BLOCK_HASH": "HASH OF THE LAST BLOCK YOUR POOL FOUND",
	"CHECK_INTERVAL": "60000",
	"PREFIX": "!",
	"DB": {
		"connection" : {
		    "connectionLimit" : "10",
		    "host" : "example.org",
		    "user" : "bob",
		    "password" : "secret",
		    "database" : "my_db"
		},
		"structure" : {
			"table" : "table_name",
			"address": "xmr_address_column", // needs to be 95 chars long
			"discord": "discord_column" // needs to be 18 chars long
		}
	}
}
